{% load static %}

<footer class="py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Help</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">News</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Team</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">User Documentation</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Developer Documentation</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Toolbox</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Catalogue</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Editor</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Synopsis</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary"></a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>About</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About the project</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">News</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Imprint</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Privacy Policy</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">License</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; 2023 Tanhuma Project. All rights reserved.</p>
        <ul class="list-unstyled d-flex">
            <li class="ms-3"><a class="link-body-emphasis" href="https://tei-c.org/"><img src="{% static 'img/TEI_Logo.png' %}" class="img-responsive align-middle" width="100px" /></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://iiif.io/"> <img src="{% static 'img/IIIF_black.png' %}" class="img-responsive align-middle" width="80px" /></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://projectmirador.org/"> Mirador</a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://elijahlab.haifa.ac.il/"> <img src="{%  static 'img/logo_elijah_lab.jpg' %}"  class="img-responsive align-middle" width="400px" /></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://www.haifa.ac.il/"><img src="{%  static 'img/logo_haifa_color.png' %}"  class="img-responsive align-middle" width="100px" /></a></li>
            <li class="ms-3"><a class="link-body-emphasis" href="https://hs-mannheim.de"><img src="{% static 'img/hm_CO_011_1-4.png' %}" class="img-responsive align-middle" width="300px" /></a></li>
        </ul>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-github"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-youtube"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fa-brands fa-facebook"></i></a></li>
      </ul>
    </div>
  </footer>